:root{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
  /* background*/
body{
    margin: 0 0;  
    background-image:url("../img/background@1X.png");
    background-repeat: no-repeat;
    background-size:  100% 130%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    
}

/* header */
/*white/orange BTN in start*/
.content{
    color: white;
    display: flex;
    text-align: center;
    margin-left: 10%;
    margin-top: 6.4%;
    position: relative;
}
.BTN{
    display: flex;
}
.main_text{
    text-align: justify;
    margin-left: 1.5rem;
}
h1{
font-size: 2.8rem;
font-weight: 900;    
margin: 0;
}
.under_main_text{
    font-weight: 500;
    font-size: 1.9rem;
}
/* HOVER TO white/orange BTN in start*/
#white{
    width: 5.3rem;
    height: 5.3rem;
}
#orange{
    width: 5.3rem;
    height: 5.3rem;
    display: none;
}
.BTN:hover #orange{
    display: inline-block;
}
.BTN:hover #white {
    display: none;
}
.BTN:hover{
    color: #f26522;
}

/*contacts*/
.right{
    text-align: right;
    position: absolute;
    top:  35%;
    right: 11%;
}
a{ font-size: large;
    text-decoration: none;
    color: white;
    display: block;
}
.contacts{
    align-self: flex-end;
    font-size: 1.3rem;
    margin-left: 66%;
}
/* main content*/
/*main images*/
.main_content1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3.5rem 10% 0 10%;
}
.img{
    position: relative;
}
.border{
    border: 2px solid;
    border-image: linear-gradient( #fcfcfc, rgb(32, 31, 31));
    border-image-slice: 1;
    box-shadow: 10px 10px 20px black;
}
/* text under img*/
p{
    font-size: 1.9rem;
    color: white;
    text-align: center;
    font-weight: 500;
    padding-top: 2rem;
    margin-top: 0;
    box-sizing: border-box;
}
/*HOVER TO main images*/
.animation{
    position: absolute;
    bottom: 18%;
    width: 100%;
    height: 60px;
    background-color: #f26522;
    opacity: 0;
    transition: .4s;
}
.img:hover p{
color: #f26522;
}
.img:hover .animation  {
 opacity: 1;
 }
 /*text in HOVER TO main images */
.left_text{
    display: inline-block;
    margin-top: 1.1rem;
    margin-left: 2.1rem;
    font-size: 1rem;
}
.bigger{
    font-size: 2.5rem;
}
.right_text{
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 13rem;
}
 /* footer */
.footer{
    font-size: 1.4rem;
    text-align: center;
    color: white;
    margin-top: 4%;
}